#body {
    height: calc(100vh - 100px);
    margin: 60px 0 40px;
    display: flex;
}

.table-wrap {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-bottom: 1px solid #e7e7e7;;
}
