#dataTable > thead tr th {
    position: sticky;
    top: 0;
}

#dataTable > thead > tr > th {
    background-color: #e7e7e7;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
}

#dataTable > tbody > tr > td {
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

#dataTable > tbody > tr:hover {
    background-color: #694d9d;
    color: white;
}

#dataTable > thead > tr > th,
#dataTable > tbody > tr > td {
    text-align: left;
    padding: 10px 15px 10px 15px;
    border: 1px solid #e7e7e7;
}
