@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('OpenSans-Bold'), url('./fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('OpenSans-Light'), url('./fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('OpenSans-Regular'), url('./fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: local('OpenSans-SemiBold'), url('./fonts/OpenSans/OpenSans-SemiBold.ttf');
}
